@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-museo-moderno);
}



body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;;
}

/* Specific font assignments */
p {
  font-family: var(--font-poppins), sans-serif;
}

h1, h2 {
  font-family: var(--font-museo-moderno), sans-serif;
}

html {
  scroll-behavior: smooth;
}